<html>
    <head>

    </head>
    <body>
        <form action="">
            <input type="text" name="exp" placeholder="experience" required="required" />
            <input type="email" name="exp" placeholder="experience" required="required" />
            <input type="number" name="exp" placeholder="experience" required="required" />
            <input type="text" name="exp" placeholder="experience" required="required" />

            <button type="submit">predict</button> 




        </form>
    </body>
</html>